.PageHeader {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  align-items: center;
  padding: 1rem 0;

  section {
    display: flex;
    flex-direction: column;
  }

  section:first-child {
    flex-grow: 1;
    padding-right: 1rem;
  }

  section:last-child {
    flex-grow: 0;
    flex-basis: 6rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 0.25rem 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.2;
    padding: 0.25rem 0;
    strong {
      font-weight: 500;
    }
    i {
      font-style: italic;
      color: var(--blue-grey-500);
    }
  }

  img {
    width: 100%;
    height: auto;
  }
} // Page Header