.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--blue-grey-50);
}

.App-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1024px;
  aspect-ratio: 1 / 1.414;
  margin: 2rem 0;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  color: var(--blue-grey-900);
  padding: 2rem 3rem;
}

.PageSection {
  flex-grow: 1;
}

.PageFooter {
  flex-grow: 0;
  h6 {
    font-size: 0.875rem;
    color: var(--blue-grey-500);
  }
}

h2 {
  font-size: 1.25rem;
  padding: 1rem 0 ;
}